<!-- views/partials/navbar.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="Forever True AFH" class="rounded-circle" height="50">
      <span class="brand-text">Forever True AFH</span>
    </a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="/testimonials">Testimonials</a></li>
        <li class="nav-item"><a class="nav-link" href="/gallery">Gallery</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  
  
